﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Stylesheet -->
    
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Public/css/blue_theme.css" rel="stylesheet" type="text/css" />
    <link href="/Public/css/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:r,b,i,r,b,b,b,r,r,b" type="text/css" />
    
    <script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.easing.compatibility.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.easing.1.3.js" type="text/javascript"></script>

    <script src="/Scripts/jquery.cycle.all.js" type="text/javascript"></script>
    <script src="/Scripts/custom-offer.js" type="text/javascript"></script>
    <script src="/Scripts/muffingroup_menu.js" type="text/javascript"></script>
    <script src="/Scripts/custom.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="/Scripts/ie.js"></script>
        <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/Public/css/ie7.css" />
    <![endif]-->
    </head>
<body>
    <body>
        <header id="Header">
		    <div class="header_overlay">
                <div class="Wrapper">
                    <!-- Top -->
                    @{Html.RenderPartial("~/Views/Shared/Header.cshtml");}
                    <!-- Slider -->
                    @RenderSection("Slider", false)
                </div>
            </div>  
        </header>
        <!-- Content -->
        <div id="Content">
            <div class="Wrapper">
                @RenderBody()
            </div>
        </div>
        <!-- Footer -->
        <footer id="Footer">
        	<div class="Wrapper">
                @{Html.RenderPartial("~/Views/Shared/Footer.cshtml");}
            </div>
        </footer>
    </body>
</body>
</html>
