﻿@{
    Layout = null;
}
<div class="row clearfix">
    <div class="widget-area col one_third">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
            <h5 class="widget-title">Should to see</h5><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-965"><a href="http://themes.muffingroup.com/doover/features">Check the list of our great features</a></li>
<li id="menu-item-967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-967"><a href="http://themes.muffingroup.com/doover/shortcodes/columns-2/full-width">Grid Based Layout</a></li>
<li id="menu-item-966" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-966"><a href="http://themes.muffingroup.com/doover/pages/homepage/photo-slider">Photo Slider</a></li>
<li id="menu-item-968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-968"><a href="http://themes.muffingroup.com/doover/skins/gray">Style: Gray</a></li>
</ul></div></aside>
    </div>
    <div class="widget-area col one_third">
        <aside id="search-3" class="widget widget_search"><h5 class="widget-title">Search</h5><form role="search" method="get" id="searchform" action="http://themes.muffingroup.com/doover/" >
	<div><label class="screen-reader-text" for="s">Search for:</label>
	<input type="text" value="" name="s" id="s" />
	<input type="submit" id="searchsubmit" value="Search" />
	</div>
	</form></aside>
    </div>
    <div class="widget-area col one_third last">
        <aside id="text-2" class="widget widget_text"><h5 class="widget-title">Donec eu tellus odio</h5>			<div class="textwidget"><p><b>Donec eu tellus odio. Vivamus adipiscing elit in nibh lacinia ac pretium augue tempus.</b></p>
<p>Quisque imperdiet eros ac turpis tempor adipiscing sodales mauris fermentum. Pellentesque scelerisque adipiscing tortor sit amet pretium.</p>
</div>
		</aside>
    </div>
</div>
<div class="row clearfix">
    <div class="two_third col">
        <div class="copyrights">
            <p class="author">
                &copy; 2012 <span>Doover Premium WordPress Theme</span>. All Rights Reserved. Powered
                by <a href="http://wordpress.org">WordPress</a>.</p>
            <p>
                Created by <a href="http://muffingroup.com">Muffin group</a>.</p>
        </div>
    </div>
    <div class="one_third col last">
        <a class="back_to_top" href="#" title="Back to top">Back to top</a>
    </div>
</div>
