﻿@{Layout = null;}
<div class="top">
            <div class="title">
            </div>
            <h1>
                <a id="logo" href="#" style="font-size: 20px">Imran Rashid </a>
            </h1>
            <div class="top_options">
                <!-- Top links -->
                <ul class="top_links">
                    <li class="tl1"><a href="http://facebook.com" title="Facebook">Facebook</a></li>
                    <li class="tl7"><a href="http://plus.google.com" title="Google +">Google +</a></li>
                    <li class="tl2"><a href="http://twitter.com" title="Twitter">Twitter</a></li>
                    <li class="tl3"><a href="http://themes.muffingroup.com/doover/feed" title="RSS" target="_blank">
                        RSS</a></li>
                    <li class="tl4"><a href="http://themes.muffingroup.com/doover/pages/sitemap" title="Sitemap">
                        Sitemap</a></li>
                </ul>
                <!-- Call us -->
                <div class="call_us">
                    <span>(+92) 312-</span>9551122</div>
            </div>
            <!-- Navigation -->
            <nav id="navigation" class="menu-main-menu-container">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/Home/About">About Me</a></li>
                            <li><a href="/Home/Services">Services</a>
                            <ul class="sub-menu">
	                            <li><a href="/Home/Services?s=WebDev">Web Development</a></li>
	                            <li><a href="/Home/Services?s=WebDev">Enterprise Application</a></li>
	                            <li><a href="/Home/Services?s=WebDev">Web Designing</a></li>
	                            <li><a href="/Home/Services?s=WebDev">Search Engine Optimization</a></li>
	                            <li><a href="/Home/Services?s=WebDev">Web Marketting</a></li>
	                            <li><a href="/Home/Services?s=WebDev">Financial Applications</a></li>
                            </ul></li>
                            <li><a href="/Home/Blog">Blog</a></li>
                            <li><a href="/Home/GetAQuote">Get a Quote</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                        </ul>
                    </nav>
        </div>
