﻿@{
    Layout = null;
}
<div id="Offer_slider">
    <ul id="os_cycle" class="slides">
        <li>
            <div class="image">
                <img width="530" height="370" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slide_1.png"
                    class="attachment-offer_slider wp-post-image" alt="slide_1" title="slide_1" />
                <div class="thumbnail" style="display: none">
                    <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slider_icon_1.png"
                        alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        WordPress <span>themes</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,
                        dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
                        mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>Buy it now for $50</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="image">
                <img width="530" height="370" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slide_2.png"
                    class="attachment-offer_slider wp-post-image" alt="slide_2" title="slide_2" />
                <div class="thumbnail" style="display: none">
                    <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slider_icon_2.png"
                        alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        Web <span>applications</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,
                        dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
                        mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>Buy it now for $50</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="image">
                <img width="530" height="370" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slide_3.png"
                    class="attachment-offer_slider wp-post-image" alt="slide_3" title="slide_3" />
                <div class="thumbnail" style="display: none">
                    <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slider_icon_3.png"
                        alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        E-commerce <span>systems</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,
                        dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
                        mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>Buy it now for $50</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="image">
                <img width="530" height="370" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slide_4.png"
                    class="attachment-offer_slider wp-post-image" alt="slide_4" title="slide_4" />
                <div class="thumbnail" style="display: none">
                    <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slider_icon_4.png"
                        alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        IT <span>Outsorcing</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,
                        dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
                        mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>Buy it now for $50</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="image">
                <img width="530" height="370" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slide_5.png"
                    class="attachment-offer_slider wp-post-image" alt="slide_5" title="slide_5" />
                <div class="thumbnail" style="display: none">
                    <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/slider_icon_5.png"
                        alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        Adwords <span>campaigns</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet
                        magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu,
                        luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>Buy it now for $50</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="image">
                <img width="530" height="370" src="/Public/images/about.png" class="attachment-offer_slider wp-post-image"
                    alt="slide_6" title="slide_6" />
                <div class="thumbnail" style="display: none">
                    <img src="/Public/images/about.png" alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        About<span>Me</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,
                        dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
                        mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>More Info</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="image">
                <img width="530" height="370" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slide_61.png"
                    class="attachment-offer_slider wp-post-image" alt="slide_6" title="slide_6" />
                <div class="thumbnail" style="display: none">
                    <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/slider_icon_6.png"
                        alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        Any slide <span>you want</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,
                        dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
                        mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>Buy it now for $50</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="image">
                <img width="530" height="370" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slide_6.png"
                    class="attachment-offer_slider wp-post-image" alt="slide_6" title="slide_6" />
                <div class="thumbnail" style="display: none">
                    <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/slider_icon_6.png"
                        alt="" />
                </div>
            </div>
            <div class="title">
                <div style="width: 400px; top: 0px; left: 550px; position: absolute; z-index: 1;">
                    <h2>
                        Any slide <span>you want</span></h2>
                </div>
            </div>
            <div class="desc">
                <div style="width: 400px; top: 170px; left: 550px; position: absolute; z-index: 2;">
                    <p>
                        Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,
                        dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
                        mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum.</p>
                    <a href="http://themeforest.net/item/doover-premium-wordpress-theme/2279114?ref=muffingroup"
                        class="button-big button-big-orange"><span>Buy it now for $50</span></a>
                </div>
            </div>
        </li>
    </ul>
    <div class="controls">
        <div class="header">
            <h3>
                Our</h3>
            <h2>
                offer:</h2>
            <a id="prev_arrow" href="#">Previous</a> <a id="next_arrow" href="#">Next</a>
        </div>
        <!-- #os_pager -->
    </div>
</div>
