﻿@{
    ViewBag.Title = "Blog";
}
<h3>
    Blog</h3>
<div class="content">
    <div id="post-541" class="post-541 post type-post status-publish format-standard hentry category-jquery category-motion category-products tag-eclipse tag-mysql tag-php tag-zend-studio clearfix">
        <div class="meta">
            <div class="date">
                <span class="day">27</span> <span class="month">April</span> <span class="year">2012</span>
            </div>
            <div class="category">
                <span class="label">Category:</span><br>
                <a href="http://themes.muffingroup.com/doover/category/jquery" title="View all posts in jQuery"
                    rel="category tag">jQuery</a><br>
                <a href="http://themes.muffingroup.com/doover/category/motion" title="View all posts in Motion"
                    rel="category tag">Motion</a><br>
                <a href="http://themes.muffingroup.com/doover/category/products" title="View all posts in Products"
                    rel="category tag">Products</a>
            </div>
            <div class="comments">
                Comments: <a href="http://themes.muffingroup.com/doover/products/541,curabitur-magna-dictum.html#respond"
                    title="Comment on Curabitur magna dictum">0</a>
            </div>
        </div>
        <div class="desc">
            <h3>
                Curabitur magna dictum</h3>
            <div class="image">
                <a href="http://themes.muffingroup.com/doover/products/541,curabitur-magna-dictum.html"
                    title="Curabitur magna dictum">
                    <img width="538" height="128" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/Curabitur-magna-dictum-538x128.jpg"
                        class="attachment-post-thumbnail wp-post-image" alt="Curabitur magna dictum"
                        title="Curabitur magna dictum">
                </a>
            </div>
            <p>
                Lorem ipsum dolor sit amet nisl. Proin id lectus. Nulla facilisis neque, fringilla
                aliquet. Donec iaculis. Sed porttitor. Morbi risus neque ante, luctus leo nec nisl.
                Morbi accumsan luctus, pellentesque adipiscing eget, eros. Quisque placerat tempor
                varius, nisl nulla sit amet neque. Etiam in faucibus orci ipsum, molestie mauris.
                Duis blandit risus sit amet, consectetuer [...]</p>
            <footer>
		
							<p class="tags"><span>Tags:</span> <a href="http://themes.muffingroup.com/doover/tag/eclipse" rel="tag">eclipse</a>, <a href="http://themes.muffingroup.com/doover/tag/mysql" rel="tag">mysql</a>, <a href="http://themes.muffingroup.com/doover/tag/php" rel="tag">php</a>, <a href="http://themes.muffingroup.com/doover/tag/zend-studio" rel="tag">zend studio</a></p>
						
			<a href="http://themes.muffingroup.com/doover/products/541,curabitur-magna-dictum.html" class="button button-small button-small-gray rs"><span>Read more</span></a>	
		</footer>
        </div>
    </div>
    <hr>
    <div id="post-535" class="post-535 post type-post status-publish format-standard hentry category-company tag-css tag-css3 tag-grid tag-html5 clearfix">
        <div class="meta">
            <div class="date">
                <span class="day">24</span> <span class="month">April</span> <span class="year">2012</span>
            </div>
            <div class="category">
                <span class="label">Category:</span><br>
                <a href="http://themes.muffingroup.com/doover/category/company" title="View all posts in Company"
                    rel="category tag">Company</a>
            </div>
            <div class="comments">
                Comments: <a href="http://themes.muffingroup.com/doover/company/535,535.html#respond"
                    title="Comment on Maecenas scelerisque, dui aliquam">0</a>
            </div>
        </div>
        <div class="desc">
            <h3>
                Maecenas scelerisque, dui aliquam</h3>
            <div class="image">
                <a href="http://themes.muffingroup.com/doover/company/535,535.html" title="Maecenas scelerisque, dui aliquam">
                    <img width="538" height="128" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/photo_slider_52-538x128.jpg"
                        class="attachment-post-thumbnail wp-post-image" alt="photo_slider_5" title="photo_slider_5">
                </a>
            </div>
            <p>
                Lorem ipsum dolor sit amet nibh. Maecenas scelerisque, dui aliquam purus. Fusce
                venenatis consequat. Morbi accumsan sit amet dui auctor non, iaculis odio tellus
                tortor. Vivamus consectetuer ut, condimentum enim eget volutpat a, hendrerit dolor
                massa id sollicitudin augue at ultrices lorem nec elit at consectetuer dolor ac
                enim eu lectus. Pellentesque nonummy gravida. In [...]</p>
            <footer>
		
							<p class="tags"><span>Tags:</span> <a href="http://themes.muffingroup.com/doover/tag/css" rel="tag">css</a>, <a href="http://themes.muffingroup.com/doover/tag/css3" rel="tag">css3</a>, <a href="http://themes.muffingroup.com/doover/tag/grid" rel="tag">grid</a>, <a href="http://themes.muffingroup.com/doover/tag/html5" rel="tag">html5</a></p>
						
			<a href="http://themes.muffingroup.com/doover/company/535,535.html" class="button button-small button-small-gray rs"><span>Read more</span></a>	
		</footer>
        </div>
    </div>
    <hr>
    <div id="post-519" class="post-519 post type-post status-publish format-standard hentry category-applications category-print tag-css3 tag-framework tag-wordpress clearfix">
        <div class="meta">
            <div class="date">
                <span class="day">17</span> <span class="month">April</span> <span class="year">2012</span>
            </div>
            <div class="category">
                <span class="label">Category:</span><br>
                <a href="http://themes.muffingroup.com/doover/category/applications" title="View all posts in Applications"
                    rel="category tag">Applications</a><br>
                <a href="http://themes.muffingroup.com/doover/category/print" title="View all posts in Print"
                    rel="category tag">Print</a>
            </div>
            <div class="comments">
                Comments: <a href="http://themes.muffingroup.com/doover/applications/519,519.html#respond"
                    title="Comment on Etiam rutrum enim ac tristique fermentum tellus">0</a>
            </div>
        </div>
        <div class="desc">
            <h3>
                Etiam rutrum enim ac tristique fermentum tellus</h3>
            <div class="image">
                <a href="http://themes.muffingroup.com/doover/applications/519,519.html" title="Etiam rutrum enim ac tristique fermentum tellus">
                    <img width="538" height="128" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/photo_slider_91-538x128.jpg"
                        class="attachment-post-thumbnail wp-post-image" alt="photo_slider_9" title="photo_slider_9">
                </a>
            </div>
            <p>
                Lorem ipsum dolor sit amet purus consectetuer vulputate vitae, congue tristique.
                Donec condimentum, pulvinar vulputate in, quam. Nam feugiat, pulvinar sem id sapien
                dui imperdiet id, elit. Aenean augue mi, nec tortor. In metus dolor, rhoncus suscipit.
                Suspendisse turpis et odio. Vestibulum aliquam odio. Nunc at sapien. Aliquam eleifend,
                ligula. Etiam rutrum, enim ac imperdiet [...]</p>
            <footer>
		
							<p class="tags"><span>Tags:</span> <a href="http://themes.muffingroup.com/doover/tag/css3" rel="tag">css3</a>, <a href="http://themes.muffingroup.com/doover/tag/framework" rel="tag">framework</a>, <a href="http://themes.muffingroup.com/doover/tag/wordpress" rel="tag">wordpress</a></p>
						
			<a href="http://themes.muffingroup.com/doover/applications/519,519.html" class="button button-small button-small-gray rs"><span>Read more</span></a>	
		</footer>
        </div>
    </div>
    <hr>
    <div id="post-507" class="post-507 post type-post status-publish format-standard hentry category-javascript category-jquery category-phpmysql tag-logo tag-themeforest tag-update tag-webdesign-2 clearfix">
        <div class="meta">
            <div class="date">
                <span class="day">14</span> <span class="month">April</span> <span class="year">2012</span>
            </div>
            <div class="category">
                <span class="label">Category:</span><br>
                <a href="http://themes.muffingroup.com/doover/category/javascript" title="View all posts in Javascript"
                    rel="category tag">Javascript</a><br>
                <a href="http://themes.muffingroup.com/doover/category/jquery" title="View all posts in jQuery"
                    rel="category tag">jQuery</a><br>
                <a href="http://themes.muffingroup.com/doover/category/phpmysql" title="View all posts in PHP/MySQL"
                    rel="category tag">PHP/MySQL</a>
            </div>
            <div class="comments">
                Comments: <a href="http://themes.muffingroup.com/doover/jquery/507,507.html#respond"
                    title="Comment on Vestibulum dapibus mauris">0</a>
            </div>
        </div>
        <div class="desc">
            <h3>
                Vestibulum dapibus mauris</h3>
            <div class="image">
                <a href="http://themes.muffingroup.com/doover/jquery/507,507.html" title="Vestibulum dapibus mauris">
                    <img width="538" height="128" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/photo_slider_82-538x128.jpg"
                        class="attachment-post-thumbnail wp-post-image" alt="photo_slider_8" title="photo_slider_8">
                </a>
            </div>
            <p>
                Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris
                nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.
                Lorem ipsum dolor sit amet augue. Sed eros. Nullam sit amet dolor. Ut eget velit.
                Suspendisse pede. In non enim. Fusce consequat vel, pellentesque at, vehicula vitae,
                dictum arcu. Suspendisse luctus orci, [...]</p>
            <footer>
		
							<p class="tags"><span>Tags:</span> <a href="http://themes.muffingroup.com/doover/tag/logo" rel="tag">logo</a>, <a href="http://themes.muffingroup.com/doover/tag/themeforest" rel="tag">themeforest</a>, <a href="http://themes.muffingroup.com/doover/tag/update" rel="tag">update</a>, <a href="http://themes.muffingroup.com/doover/tag/webdesign-2" rel="tag">webdesign</a></p>
						
			<a href="http://themes.muffingroup.com/doover/jquery/507,507.html" class="button button-small button-small-gray rs"><span>Read more</span></a>	
		</footer>
        </div>
    </div>
    <hr>
    <div id="post-379" class="post-379 post type-post status-publish format-standard hentry category-jquery category-phpmysql tag-jquery-2 tag-mysql tag-php clearfix">
        <div class="meta">
            <div class="date">
                <span class="day">11</span> <span class="month">April</span> <span class="year">2012</span>
            </div>
            <div class="category">
                <span class="label">Category:</span><br>
                <a href="http://themes.muffingroup.com/doover/category/jquery" title="View all posts in jQuery"
                    rel="category tag">jQuery</a><br>
                <a href="http://themes.muffingroup.com/doover/category/phpmysql" title="View all posts in PHP/MySQL"
                    rel="category tag">PHP/MySQL</a>
            </div>
            <div class="comments">
                Comments: <a href="http://themes.muffingroup.com/doover/jquery/379,suspendisse-a-pellentesque-dui-non-felis.html#respond"
                    title="Comment on Suspendisse a pellentesque dui, non felis molestie erat ac">0</a>
            </div>
        </div>
        <div class="desc">
            <h3>
                Suspendisse a pellentesque dui, non felis molestie erat ac</h3>
            <div class="image">
                <a href="http://themes.muffingroup.com/doover/jquery/379,suspendisse-a-pellentesque-dui-non-felis.html"
                    title="Suspendisse a pellentesque dui, non felis molestie erat ac">
                    <img width="538" height="128" src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/04/photo_slider_13-538x128.jpg"
                        class="attachment-post-thumbnail wp-post-image" alt="photo_slider_13" title="photo_slider_13">
                </a>
            </div>
            <p>
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui,
                non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur
                et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet
                sit amet magna. Vestibulum dapibus, mauris nec malesuada fames [...]</p>
            <footer>
		
							<p class="tags"><span>Tags:</span> <a href="http://themes.muffingroup.com/doover/tag/jquery-2" rel="tag">jquery</a>, <a href="http://themes.muffingroup.com/doover/tag/mysql" rel="tag">mysql</a>, <a href="http://themes.muffingroup.com/doover/tag/php" rel="tag">php</a></p>
						
			<a href="http://themes.muffingroup.com/doover/jquery/379,suspendisse-a-pellentesque-dui-non-felis.html" class="button button-small button-small-gray rs"><span>Read more</span></a>	
		</footer>
        </div>
    </div>
    <div class="pager">
        <center>
            <a href="http://themes.muffingroup.com/doover/blog" class="page active">1</a> <a
                href="http://themes.muffingroup.com/doover/blog/page/2" class="page">2</a> <a class="button-small button-small-select next"
                    href="http://themes.muffingroup.com/doover/blog/page/2"><span>Next page</span></a>
        </center>
    </div>
</div>
