﻿@{
    ViewBag.Title = "Contact";
}

<div class="content contact">
					
			<div class="about">
								
					
					<h4>A few words about us:</h4>
<p>Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien mas sa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere</p>
<div class="details">
<ul>
<li><strong>Envato</strong></li>
<li>Level 13, 2 Elizabeth St, Melbourne </li>
<li>Victoria 3000 Australia</li>
</ul>
<ul>
<li class="phone">Phone: +61 (0) 3 8376 6284</li>
<li class="phone">Fax: +61 (0) 3 8376 6284</li>
</ul>
<ul>
<li class="email">E-mail: <a href="#">noreply@envato.com</a></li>
<li class="twitter">Twitter: <a href="#">@@Doover</a></li>
</ul>
</div>
					<hr>				
									<h4>Send us a question:</h4>
					<div class="contact_form">
						<form id="json_contact_form" method="POST" action="http://themes.muffingroup.com/doover/wp-content/themes/doover/functions/theme-mail.php">
							<input type="hidden" name="To" value="muffingroupcom@gmail.com">
							<input type="hidden" name="Subject" value="[contact form] Doover Premium WordPress Theme">
	
							<fieldset>
								<span class="nick_ico"></span>
								<span class="email_ico"></span>
								<input id="Name" class="nick required" name="Name" placeholder="Your name" type="text">
								<input id="Email" class="email required" name="Email" placeholder="Your e-mail" type="text">
								<textarea id="Message" name="Message" class="required"></textarea>
								<input type="submit" value="Send message">
							</fieldset>
						</form>
					</div>
								
			</div>
			
							<div class="map">
					<div id="google_map_area" style="width: 290px; height: 550px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden; "><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; -webkit-transform-origin: 0px 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0); cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default; "><div style="z-index: 100; position: absolute; left: 0px; top: 0px; "><div style="position: absolute; left: 0px; top: 0px; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; "><div style="width: 256px; height: 256px; position: absolute; left: -50px; top: 311px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -50px; top: 55px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -306px; top: 311px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -306px; top: 55px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 206px; top: 55px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 206px; top: 311px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -50px; top: -201px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -50px; top: 567px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 206px; top: -201px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -306px; top: -201px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -306px; top: 567px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 206px; top: 567px; "></div></div></div></div><div style="z-index: 101; position: absolute; left: 0px; top: 0px; "></div><div style="z-index: 102; position: absolute; left: 0px; top: 0px; "><div style="position: absolute; left: 0px; top: 0px; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; "><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: 311px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: 55px; "><canvas style="position: absolute; left: 0px; top: 0px; " height="256" width="256"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: 311px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: 55px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: 55px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: 311px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: -201px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: 567px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: -201px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: -201px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: 567px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: 567px; "></div></div></div></div><div style="z-index: 103; position: absolute; left: 0px; top: 0px; "><div style="position: absolute; left: 0px; top: 0px; z-index: -1; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; "><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: 311px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: 55px; "><canvas style="position: absolute; left: 0px; top: 0px; " height="256" width="256"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: 311px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: 55px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: 55px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: 311px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: -201px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -50px; top: 567px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: -201px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: -201px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -306px; top: 567px; "></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 206px; top: 567px; "></div></div></div></div><div style="z-index: 104; position: absolute; left: 0px; top: 0px; "></div><div style="z-index: 105; position: absolute; left: 0px; top: 0px; "></div><div style="z-index: 106; position: absolute; left: 0px; top: 0px; "></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px; "><div style="overflow: hidden; width: 290px; height: 550px; "><img style="width: 290px; height: 550px; " src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i1892914&amp;2i1286601&amp;2e1&amp;3u13&amp;4m2&amp;1u290&amp;2u550&amp;5m3&amp;1e0&amp;2b1&amp;5sen-US&amp;token=9649"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; "><div style="position: absolute; left: -50px; top: 311px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt0.googleapis.com/vt?lyrs=m@177376371&amp;src=apiv3&amp;hl=en-US&amp;x=7394&amp;y=5027&amp;z=13&amp;s=G&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: -306px; top: 311px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177076878&amp;src=apiv3&amp;hl=en-US&amp;x=7393&amp;y=5027&amp;z=13&amp;s=Galile&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: -306px; top: 55px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177298484&amp;src=apiv3&amp;hl=en-US&amp;x=7393&amp;y=5026&amp;z=13&amp;s=Galil&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: 206px; top: -201px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177361100&amp;src=apiv3&amp;hl=en-US&amp;x=7395&amp;y=5025&amp;z=13&amp;s=Ga&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: -306px; top: -201px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177317074&amp;src=apiv3&amp;hl=en-US&amp;x=7393&amp;y=5025&amp;z=13&amp;s=Gali&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: -306px; top: 567px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177076878&amp;src=apiv3&amp;hl=en-US&amp;x=7393&amp;y=5028&amp;z=13&amp;s=Galileo&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: -50px; top: 567px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt0.googleapis.com/vt?lyrs=m@177361736&amp;src=apiv3&amp;hl=en-US&amp;x=7394&amp;y=5028&amp;z=13&amp;s=Ga&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: 206px; top: 567px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177239341&amp;src=apiv3&amp;hl=en-US&amp;x=7395&amp;y=5028&amp;z=13&amp;s=Galil&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: 206px; top: 55px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177369697&amp;src=apiv3&amp;hl=en-US&amp;x=7395&amp;y=5026&amp;z=13&amp;s=Gal&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: 206px; top: 311px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@177369671&amp;src=apiv3&amp;hl=en-US&amp;x=7395&amp;y=5027&amp;z=13&amp;s=Gali&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: -50px; top: 55px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt0.googleapis.com/vt?lyrs=m@177379477&amp;src=apiv3&amp;hl=en-US&amp;x=7394&amp;y=5026&amp;z=13&amp;s=&amp;style=api%7Csmartmaps"></div><div style="position: absolute; left: -50px; top: -201px; -webkit-transition: opacity 200ms ease-out; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px; " src="http://mt0.googleapis.com/vt?lyrs=m@177378391&amp;src=apiv3&amp;hl=en-US&amp;x=7394&amp;y=5025&amp;z=13&amp;s=Galileo&amp;style=api%7Csmartmaps"></div></div></div></div></div><div style="margin: 2px 5px 2px 2px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px; "><a style="position: static; overflow: visible; float: none; display: inline; " title="Click to see this area on Google Maps" target="_blank" href="http://maps.google.com/maps?ll=-37.817917,144.965065&amp;z=13&amp;t=m&amp;hl=en-US"><div style="width: 62px; height: 24px; cursor: pointer; "><img style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 62px; height: 24px; " src="http://maps.gstatic.com/mapfiles/google_white.png"></div></a></div><div class="gmnoprint" style="position: absolute; z-index: 1000001; right: 0px; bottom: 0px; "><div style="height: 19px; -webkit-user-select: none; line-height: 19px; padding-right: 2px; padding-left: 50px; background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.496094) 50px); font-family: Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; background-position: initial initial; background-repeat: initial initial; "><a style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer; ">Map Data</a><span style="display: none; ">Map data ©2012 Google, Whereis(R), Sensis Pty Ltd</span><span style=""> - </span><a style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer; " href="http://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank">Terms of Use</a></div></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px; z-index: 10000002; display: none; width: 236px; height: 148px; position: absolute; left: 5px; top: 185px; "><div style="padding: 0px 0px 10px; font-size: 16px; ">Map Data</div><div style="font-size: 13px; ">Map data ©2012 Google, Whereis(R), Sensis Pty Ltd</div><div style="width: 10px; height: 10px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer; "><img style="position: absolute; left: -18px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-user-drag: none; width: 68px; height: 67px; " src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px; "><div style="font-family: Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245); ">Map data ©2012 Google, Whereis(R), Sensis Pty Ltd</div></div><div style="display: none; font-size: 10px; height: 17px; background-color: rgb(245, 245, 245); border: 1px solid rgb(220, 220, 220); line-height: 19px; position: absolute; right: 0px; bottom: 0px; " class="gmnoprint"><a target="_new" title="Report errors in the road map or imagery to Google" style="font-family: Arial, sans-serif; font-size: 85%; font-weight: bold; padding: 1px 3px; color: rgb(68, 68, 68); text-decoration: none; position: relative; bottom: 1px; " href="http://maps.google.com/maps?ll=-37.817917,144.965065&amp;z=13&amp;t=m&amp;hl=en-US&amp;skstate=action:rmi_dialog$apiref:1$location:-37.817917,144.965065">Report a map error</a></div><div class="gmnoprint" style="margin: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px; " controlwidth="22" controlheight="44"><div class="gmnoprint" style="position: absolute; opacity: 0.6; display: none; " controlwidth="0" controlheight="0"><img src="http://maps.gstatic.com/mapfiles/rotate2.png" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; cursor: pointer; width: 22px; height: 22px; " title="Rotate map 90 degrees"></div><div class="gmnoprint" controlwidth="22" controlheight="39" style="position: absolute; left: 0px; top: 5px; "><img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 22px; height: 39px; " src="http://maps.gstatic.com/mapfiles/szc4.png"><div style="position: absolute; left: 0px; top: 0px; width: 22px; height: 17px; cursor: pointer; " title="Zoom in"></div><div style="position: absolute; left: 0px; top: 18px; width: 22px; height: 17px; cursor: pointer; " title="Zoom out"></div></div></div></div></div>
				</div>
				
				<script src="http://maps.google.com/maps/api/js?sensor=false"></script><script src="http://maps.gstatic.com/intl/en_us/mapfiles/api-3/9/3/main.js" type="text/javascript"></script>
				<script>
				//<![CDATA[
					function google_maps(){
						var latlng = new google.maps.LatLng(-37.817917, 144.965065);
						var myOptions = {
							zoom: 13,
							center: latlng,
							zoomControl: true, 
							mapTypeControl: false,
							streetViewControl: false,
							scrollwheel: false,
						            
							mapTypeId: google.maps.MapTypeId.ROADMAP
						};
	
						var map = new google.maps.Map(document.getElementById('google_map_area'), myOptions);
						var marker = new google.maps.Marker({
							position: latlng,
							map: map,
						});
					}

					jQuery(document).ready(function($){
						google_maps();
					});	
					//]]>
				</script>
					
			
				
				<script>
				//<![CDATA[
				    function validate() {
				        var error = false;
				        jQuery('input.required, textarea.required').removeClass('inp_error');

				        jQuery('input.required, textarea.required').each(function (index, domEle) {
				            if ((!this.value) || (this.value == this.defaultValue)) {
				                jQuery(this).addClass('inp_error');
				                error = true;
				            }
				        });

				        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
				        if (!emailReg.test(jQuery('#Email').val())) {
				            jQuery('#Email').addClass('inp_error');
				            error = true;
				        }

				        if (error) {
				            return false;
				        }
				        return true;
				    }

				    function processJson(data) {
				        if (data.status && data.status == 'ok') {
				            jQuery('.contact_form').html('<div class="success">Thanks, your email was sent.</div>');
				        } else {
				            jQuery('.contact_form').append('<div class="error">Error sending email. Please try again later.</div>');
				        }
				    }

				    jQuery(document).ready(function ($) {
				        $('#json_contact_form').ajaxForm({
				            dataType: 'json',
				            beforeSubmit: validate,
				            success: processJson
				        });
				    });	  
				//]]>
				</script>
				
			
		</div>