﻿@{
    ViewBag.Title = "Index";
}
@section Slider
        {
            @{Html.RenderPartial("~/Views/Shared/Slider.cshtml");}
        }
<div>
    <div class="row clearfix">
        <div class="col one_third">
            <div class="homepage-box clearfix">
                <h3>
                    Easy to customize</h3>
                <img src="http://themes.muffingroup.com/doover/wp-content/themes/doover/images/samples/easy_to_customize.png"
                    alt="Easy to customize" />
                <p>
                    We put great emphasis on ease of configuration for your needs, and therefore we
                    created the panel that gives you complete control over the template.</p>
                <p>
                    <a class="button button-small button-small-gray" href=""><span>Read more</span></a>
            </div>
        </div>
        <div class="col one_third">
            <div class="homepage-box clearfix">
                <h3>
                    Documentation</h3>
                <img src="http://themes.muffingroup.com/doover/wp-content/themes/doover/images/samples/documentation.png"
                    alt="Documentation" />
                <p>
                    We have created video tutorials and documentation special for you, where you can
                    quickly find answers at your questions and problems.</p>
                <p>
                    <a class="button button-small button-small-gray" href=""><span>Read more</span></a>
            </div>
        </div>
        <div class="col one_third last">
            <div class="homepage-box clearfix">
                <h3>
                    Browser compatible</h3>
                <img src="http://themes.muffingroup.com/doover/wp-content/themes/doover/images/samples/browsers.png"
                    alt="Browser compatible" />
                <p>
                    We made sure that our page will work correctly in browsers. It works in IE7, IE8,
                    IE9, Firefox, Opera and Safari.</p>
                <p>
                    <a class="button button-small button-small-gray" href=""><span>Read more</span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="Call-to-action">
            <div class="inside clearfix">
                <h4>
                    Are you interested in our offer? Do you have any questions?</h4>
                <h5>
                    You can set here some text via the admin panel
                </h5>
                <a class="call_to_action  call_to_action_contact" href="/doover/contact"><span>Get in
                    touch with us</span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col one_third">
            <div id="homepage-illustration">
                <img src="http://themes.muffingroup.com/doover/wp-content/themes/doover/images/samples/homepage_illustration.png"
                    alt="Screen" /><div class="overlay" style="background: url(http://themes.muffingroup.com/doover/wp-content/themes/doover/images/samples/homepage_illustration_overlay.png) top center no-repeat;">
                    </div>
            </div>
        </div>
        <div class="col two_third last">
            <div id="homepage-features">
                <h3>
                    Why choose our template?</h3>
                <h5>
                    Check the great feature list why you should buy our template:</h5>
                <ul>
                    <li>
                        <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/offer.png"
                            alt="" /><div class="ins">
                                <h5>
                                    Great offer slider</h5>
                                <p>
                                    Slider with illustration and text to which you can add your own icons or &#8230;</p>
                                <a href="/doover/features">Read more</a></div>
                    </li>
                    <li class="clearfix">
                        <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/70shortcodes.png"
                            alt="" /><div class="ins">
                                <h5>
                                    Awsome shortcode manager</h5>
                                <p>
                                    The easy way to build each page thanks to the Point-and-click manager &#8230;</p>
                                <a href="/doover/features">Read more</a></div>
                    </li>
                    <li>
                        <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/kchart_chrt.png"
                            alt="" /><div class="ins">
                                <h5>
                                    SEO base already built-in</h5>
                                <p>
                                    We really care about that our pages to be search engine friendly, so &#8230;</p>
                                <a href="/doover/features">Read more</a></div>
                    </li>
                    <li class="clearfix">
                        <img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/translation.png"
                            alt="" /><div class="ins">
                                <h5>
                                    Ready for translation</h5>
                                <p>
                                    Template has the attached files like .mo and .po, so you can easily &#8230;</p>
                                <a href="/doover/features">Read more</a></div>
                    </li>
                </ul>
                <a class="help" href="/doover/contact">Do you have any questions? Please, contact us.</a>
                <a class="button button-small button-small-gray rs" href="/doover/features"><span>Check
                    all features</span></a></div>
        </div>
    </div>
</div>
