﻿@{
    ViewBag.Title = "Services";
}
<h3>Services</h3>
<div	
	<h4>We invite to see the whole list of amazing things that we made especially for you in Doover. We hope that you enjoy this features.</h4>
<div class="features">
<ul class="clearfix">
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/offer.png" alt="">
<div class="ins">
<h5>Slider with added manually or generated icons</h5>
Slider with illustrations and text to which you can add your own icons or generate them automatically
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/70shortcodes.png" alt="">
<div class="ins">
<h5>Over 70 available shortcodes</h5>
With these shortcodes in wonderful way you can introduce each page and you create unique look
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/kchart_chrt.png" alt="">
<div class="ins">
<h5>SEO ready</h5>
We really care about that our pages to be search engine friendly, that is why the template is fully optimized
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/kmenuedit.png" alt="">
<div class="ins">
<h5>Three levels of navigation</h5>
Use it to build even the most complicated structure of the template, which navigation will be easy and intuitive to use
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/translation.png" alt="">
<div class="ins">
<h5>Ready for translation (.po / .mo files included)</h5>
Template has the .mo and .po files, so you can easily translate template into any language
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/dedicated.png" alt="">
<div class="ins">
<h5>Dedicated subpages</h5>
Thanks to the unique subpages you can easily expand your page on desired sections
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/paint.png" alt="">
<div class="ins">
<h5>Four versions of header</h5>
You can compose your page with a header containing the products slider, photos slider, photo static or the same navigation
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/shortcode.png" alt="">
<div class="ins">
<h5>Great shortcodes manager</h5>
The easy way to build each page thanks to the Point-and-click manager with which you can put any shortcode
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/kfm_home.png" alt="">
<div class="ins">
<h5>Home page based on shortcodes</h5>
You do not need to base your decision on the ideas of creators. Lay your own home page with the help of shortcodes manager
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/cross.png" alt="">
<div class="ins">
<h5>Cross Browser Compatible</h5>
Our template is working in all most popular browsers, like IE7, IE8, IE9, Firefox, Opera, Chrome or Safari.
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/pdf.png" alt="">
<div class="ins">
<h5>Full Documentation included</h5>
Full documentation on which you can find help is attached with template
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/applix.png" alt="">
<div class="ins">
<h5>Custom graphic or text logo support</h5>
Not everyone has a graphic logo, and therefore you can easily set it as a text in admin panel
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/googlemap.png" alt="">
<div class="ins">
<h5>Google maps on contact page</h5>
Set coordinates in the admin panel and let your customers find you
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/ajax.png" alt="">
<div class="ins">
<h5>Ajax Contact Page Template</h5>
Contact form sent via Ajax, that is you will not find in other templates
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/grid_system.png" alt="">
<div class="ins">
<h5>Grid Based Layout</h5>
This page has been constructed using our own grid through which you can build even the most sophisticated page layouts
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/htmlcss.png" alt="">
<div class="ins">
<h5>HTML5 / CSS3</h5>
New technologies will make your website more attractive and looks good in older browsers
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/easy.png" alt="">
<div class="ins">
<h5>Easy to customize</h5>
We put great emphasis on ease of setup, so you can find plenty of options in the admin panel
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/social.png" alt="">
<div class="ins">
<h5>Social media icons</h5>
Today, social media is the key to success, that is why we put it in our template
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/ark.png" alt="">
<div class="ins">
<h5>Layered PSDs included</h5>
We append .psd source files to our template, which are arranged and properly commented
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/modern.png" alt="">
<div class="ins">
<h5>Clean and modern design</h5>
Modern design is one of the many advantages of the template. See for yourself and check the demo version
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/colors.png" alt="">
<div class="ins">
<h5>Four different skins</h5>
Choose your own version of color
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/clean_code_ico.png" alt="">
<div class="ins">
<h5>Clean commented code</h5>
We tried to make our code clear for you, so you will find a lots of comments
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/wp33.png" alt="">
<div class="ins">
<h5>Full compatible with WordPress 3.3+</h5>
Our theme were carefully made for newest WordPress
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/custom_post.png" alt="">
<div class="ins">
<h5>Wordpress Custom Post Types</h5>
You can easily present realizations in portfolio and silder
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/page_templates.png" alt="">
<div class="ins">
<h5>Wordpress Page Templates</h5>
We made many page templates especially for you
</div>
</li>
<li>
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/breadcrumbs.png" alt="">
<div class="ins">
<h5>Built-in Breadcrumbs</h5>
We took care of navigation by which you can easily find your position
</div>
</li>
<li class=" last"><img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/portfolio.png" alt="">
<div class="ins">
<h5>Portfolio in three layouts</h5>
Choose right layout for you and show your own realizations
</div>
</li>
<li style="clear: both; ">
<img src="http://themes.muffingroup.com/doover/wp-content/uploads/2012/03/custom_background.png" alt="">
<div class="ins">
<h5>Custom background header image</h5>
Make sure that your site has a unique style and set own background
</div>
</li>
</ul>
</div>
</div>